body {
    width: auto;
    height: auto;
    margin: 11px;
    font-family: monospace;
}

.banner {
    float: right;
    position: sticky;
    top: 0;
    right: 0;
    opacity: 0.85;
    width: 10%;
    height: 10%;
}

nav {
    background-image: url("picture/IMG-0903.jpg");
    height: 400px;
    width: auto;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    animation-name: slideshow;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

@keyframes slideshow {
    0%, 20% {
        background-image: url("picture/IMG-0903.jpg");
    }
    20%, 40% {
        background-image: url("picture/1header.jpg");
    }
    40%, 60% {
        background-image: url("picture/gecko.jpg");
    }
    60%, 80%{
        background-image: url("picture/slide1.jpg");
    }
    80%, 100%{
        background-image: url("picture/slide2.jpeg");
    }
    100%{
        background-image: url("picture/IMG-0903.jpg");
    }
}

#content {
    margin-inline: 1%;
    background-color: silver;
    box-sizing: border-box;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 30px;
}

#logo {
    background-image: "picture/SupremeLogo_schwarzweiß.png";
    float: left;
    margin-left: 8%;
    margin-top: 20px;
    border-bottom: none;
}

ul {
    background-color: black;
    margin-right: 5%;
    margin-top: 40px;
}

li {
    float: right;
    list-style-type: none;
    padding-inline: 20px;
    font-family: 'Righteous', cursive;
}

a.one {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 35px;
}

a.one:hover {
    color: black;
    background-color: white;
    border-top: solid 10px blueviolet;
    border-bottom: solid 10px rgb(2, 169, 2);
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;
    margin-top: -20px;
}

a.four {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 35px;
}

a.four:hover {
    color: black;
    background-color: white;
    border-top: solid 10px silver;
    border-bottom: solid 10px silver;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;
    margin-top: -20px;
}

h1 {
    color: silver;
    font-size: 70px;
    font-weight: bolder;
    position: left;
    font-family: 'Righteous', cursive;
    padding-left: 10%;
    width: fit-content;
    padding-right: 1%;
    border: 20px solid black;
    border-style: outset;
    border-bottom-right-radius: 25px;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 1px;
}

h2 {
    padding-left: 45%;
    padding-right: 5%;
    width: max-content;
    font-family: 'Righteous', cursive;
    font-size: 45px;
    color: silver;
    border: 10px solid blueviolet;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: blueviolet;
    margin-top: 10px;
    margin-bottom: 5px;
}

h3 {
    float: right;
    padding-right: 45%;
    padding-left: 5%;
    font-family: 'Righteous', cursive;
    font-size: 45px;
    text-align: center;
    color: silver;
    border: 10px solid rgb(2, 169, 2);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(2, 169, 2);
    margin-bottom: 5px;
}

#photos {
    padding-bottom: 20px;
}

.photo {
    text-align: center;
    float: none;
    max-width: auto;
    opacity: 0.5;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.photo:hover {
    zoom: 100%;
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: scale(1.1);
    padding: 5px;
}

.photo1 {
    margin-top: 123px;
    text-align: center;
    float: none;
    max-width: auto;
}

.photo1:hover {
    zoom: 100%;
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: scale(1.1);
margin: 50px;
}

#illustrations {
    margin-top: 80px;
    text-align: center;
}

.illustration {
    float: none;
    display: inline-block;
    padding: 30px;
    background-color: black;
    margin-bottom: 50px;
    margin-top: 5px;
    border-radius: 15px;
    opacity: 0.5;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.illustration:hover {
    transform: scale(1.1);
    opacity: 1;
}

#footercontent {
    background-image: url("picture/footer.jpg");
    height: auto;
    width: auto;
    background-size: cover;
    background-position: center;
    margin-inline: auto;
    background-color: black;
    box-sizing: border-box;
    margin-bottom: -31px;
}

table {
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 30px;
}

th {
    font-size: 40px;
    height: 100px;
    font-weight: normal;
}

.three {
    height: 20px;
    color: silver;
    font-size: 30px;
    position: inherit;
}

td {
    height: 30px;
    color: silver;
}

p {
    margin-left: 13%;
    margin-top: 80px;
    color: black;
    font-size: 40px;
    font-family: 'Righteous', cursive;
}

form {
    margin-left: 13%;
    margin-top: 30px;
    color: black;
    font-size: 40px;
    font-family: 'Righteous', cursive;
}

h4 {
    padding-left: 18%;
    padding-right: 20px;
    width: max-content;
    font-family: monospace;
    font-size: 45px;
    color: white;
    border: 3px solid black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: black;
    margin-top: 30px;
    margin-bottom: -35px;
}

.answer {
    font-family: 'Righteous', cursive;
    font-size: 35px;
    color: black;
    margin-left: 20%;
}

input {
    font-size: 30px;
    color: white;
    background-color: grey;
    border-color: black;
    border-radius: 4px;
    width: 50%;
    height: auto;
    font-family: 'Righteous', cursive;
}

.massage {
    position: relative;
    height: 350px;
    position: top;
    size: none;
}

.button {
    padding-right: 8px;
    width: 150px;
    padding-top: 5px;
}

::placeholder {
    color: white;
    opacity: 1;
    transition: opacity 1s;
}

:focus::placeholder {
    opacity: 0;
}

.two {
    opacity: 0.4;
}

.two:hover {
    opacity: 1;
    zoom: 100%;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}